@mixin styleButton ($bg-color: blue, $height: 25px){
    height: $height;
        border: none;
        background-color: $bg-color;
        color: $color-white;
        border-radius: 50px;
        &hover {
            background-color: $color-red;
            color: $color-white;
        }
}

